html {
}

body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.terminal {
}

.status {
    position: fixed;
    z-index: 1;
    background-color: silver;
    color: black;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2em;
}
